table {
  /* margin-top: 0px; */
  margin-left: 10%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td,
th {
  border: 1px solidb, black;
  text-align: Center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
